# Windows
Thumbs.db
~*
*.lnk

# OSX
.DS_Store


# VSCode
.vscode
compile_commands.json

# PlatformIO
.pio
/platformio.ini

# Other
.history
pioScripts
runDoxygen.bat
output_doxygen.log
output_doxygen_run.log
output_mcss_run.log
output_mcss.log
docs/output_copyFunctions.log
docs/output_documentExamples.log
docs/output_fixSectionsInXml.log
